<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #a4d5f1;">
    <div class="container-fluid">
        <nav class="navbar bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="#" >
                    <img src="assets/Images/web_logo.png" alt="KD" width="30" height="30">
                </a>
            </div>
        </nav>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item dropdown">
                    <span class="title">{{title}} </span>
                </li>
            </ul>
            <button class="btn btn-light" (click)="download()">Download</button>
        </div>
    </div>
</nav>