.my-font {
    // font-family: "Poppins", sans-serif;
}

.card-animation {
    transition: transform .2s;
    // margin: 0 auto;
    cursor: pointer;
}

.card-animation:hover {
    transform: scale(1.2);

    img {
        transform: scale(1.2);
    }
}

.pointer,
i {
    cursor: pointer;
}

.float-right {
    text-align: right;
}

.mr-2 {
    margin-right: 2px;
}